<p>footer works!</p>
<div class="footer-con">
    <div class="footer-row row justify-content-between">
        <div class="col-10 col-md-5">
            <p>© 2023 by Mustacchio. All rights reserved.</p>

        </div>
        <div class="col-10 col-md-5 icons">


            <a title="Hassan's linkedin" target="_blank" href="https://www.linkedin.com/in/hassan-kordi-977bb91b9/">
                <i class="fab fa-linkedin-in"></i></a>

            <a title="Hassan's facebook" target="_blank" href="https://www.facebook.com/hassan.hilal.359">
                <i class="fab fa-facebook-f"></i> </a>

                <a title="Hassan's github" target="_blank" href="https://github.com/hassankordi">
                    <i class="fab fa-github"></i> </a>




            
            

        </div>

    </div>
</div>