<!-- <i class="fas fa-align-justify"></i> -->
<div class="logo">
    <img src="../../assets/logo.jpg" alt="">
</div>
<nav>
    <ul class="nav-list mb-4">
        <li routerLinkActive='active' routerLink='home'>Home</li>
        <li routerLinkActive='active' routerLink='about' >About</li>
        <li routerLinkActive='active' routerLink='gallary'>Gallary</li>
        <li routerLinkActive='active' routerLink='blog'>Blog</li>
        <li routerLinkActive='active' routerLink='contact'>Contact</li>
    </ul>
</nav>

