<div class="head">
    <div class="row">
       
        <div class="col-md-6  ml-auto">
            <div class="item">

                <div>


                    <div class="box1">
                        <span>THE BEACON TO ALL MANKIND</span>
                    </div>
                    <div class="box2">
                        <span>Our website templates are created with</span>
                    </div>
                    <div class="box2">
                        <span>inspiration, checked for quality and originality</span>
                    </div>
                    <div class="box2">
                        <span>and meticulously sliced and coded.</span>
                    </div>
                    <button class="btn"><span>Read More </span>
                        <div id="btn-div" class="btn-div"></div>
                    </button>
                </div>



            </div>

        </div>

    </div>
</div>

<!--------------------------------------------------------------------->
<div class="container">
    <div class="row images-row">
        <div class="col-8 col-md-3">
            <div class="item-2">
               <div routerLink='/gallary' class="img-item">
                    <img class="img-fluid" src="../../assets/the-father.jpg" alt="">
                    <div class="lay">
                    </div>
               </div>
                

                <h4 class="text-center">THE FATHER</h4>

            </div>
        </div>
        <div class="col-8 col-md-3">
            <div  class="item-2">
               <div routerLink='/gallary' class="img-item">
                    <img class="img-fluid" src="../../assets/the-actor.jpg" alt="">
                    <div class="lay">
                    </div>
               </div>
                

                <h4 class="text-center">THE ACTOR</h4>

            </div>
        </div>
        <div class="col-8 col-md-3">
            <div  class="item-2">
               <div routerLink='/gallary' class="img-item">
                    <img class="img-fluid" src="../../assets/the-nerd.jpg" alt="">
                    <div class="lay">
                    </div>
               </div>
                

                <h4 class="text-center">THE FATHER</h4>

            </div>
        </div>
    </div>
</div>